<head>
  <link rel="stylesheet" href="assets/css/footer.css" />
</head>
<footer class="footer" style="place-self: stretch">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12">
        <p class="copyright subtitlepopin">Copyright &copy; 2020 MeetAgain</p>
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script
  src="https://kit.fontawesome.com/5d109e308b.js"
  crossorigin="anonymous"
></script>
