<head>
  <script
    defer
    src="https://kit.fontawesome.com/dc5cc566ec.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="assets/css/footer.css" />
</head>
<footer class="footer">
  <div>
    <span>Copyright &copy; 2020 MeetAgain</span>
  </div>
  <ul class="social">
    <li>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </li>
  </ul>
</footer>
