<header id="header" style="place-self: stretch">
  <div class="nav-container">
    <div class="logo">
      <a class="nav-brand" href="index.html"><span>MEETAGAIN</span></a>
      <a href="index.html"
        ><img src="assets/img/logo.png" alt="" class="img-fluid"
      /></a>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/signin">Sign In</a></li>

        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        <li>
          <a class="getstarted scrollto" href="#about">Get Started</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
