<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>THANK YOU</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">
</head>

<body>
    <section id="services" class="section-bg">
        <div class="container">
            <div>
                <center>
                    <p class="announcefound" style="font-size: 35px;">Thank you for contacting.. We will get back to you
                        soon !</p>
                </center>
                <center>
                    <a href="/" class="main-butto">GO HOME</a>
                    <a href="/logout" class="main-butto">LOGOUT</a>
                    <br>
                    <br>
                </center>
            </div>
    </section>
</body>

</html>