<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<center>
    <div>
        <p>Thank you for contacting.. We will get back to you soon!</p>
       <a href="/">GO HOME</a>
       <a href="/logout">LOGOUT </a>


    </div>
</center>






    

    <style>

        div{
            margin: auto;
           
        }
        *{
            margin: 0;
            padding: 0;
        }

        body{
            background-color: #f5f8fd;
        }
    </style>
</body>
</html>