<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Heavy code </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/stylexd.css" rel="stylesheet">
</head>

<body>
    <!--==========================
      Header
    
    <!-- #header -->
    

    <!--==========================
        Intro Section
      ============================-->
    
    <!-- #intro -->


    <section id="services" class="section-bg">
        <div class="container">

          <div>

      
           
                <center><p class="announcefound" style="font-size: 35px;">Thank you for contacting.. We will get back to you soon !</p></center>
          
<center>
                       
                        <a href="/" class="main-butto">GO HOME</a>
                        <a href="/logout" class="main-butto">LOGOUT</a>

                        <br>
                        <br>
                    </center>
                    
                </div>
               
       
    </section>
    <!-- #services -->


  

   


    
  



  

   

</body>

</html>