<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  


    <title>MeetAgain</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    
    <link rel="stylesheet" type="text/css" href="css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="css/owl-carousel.css">
    


    </head>
    
    <body>
    
    
    
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">MA</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active"class="subtitlepopin" >Home</a></li>
                            <li class="scroll-to-section"><a href="/submitpage"class="subtitlepopin" >Submit Your Info</a></li>
                            
                            <li class="scroll-to-section"><a href="/logout" class="subtitlepopin">Logout</a></li>
                           
                            <li class="scroll-to-section"><a href="/contact"class="subtitlepopin" >Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    


    <section class="section headercollser" id="about" >

        <div class="searchdiv">
            <center class="wishuser">
               
                <h1 class="prompt">Enter the username you looking for!</h1>
                <br>
                <h2 class="luck">Best of luck!</h2>
            
              </center>
              <br>
              <br>
                    
                  
            <form action="/searchreq"  method="POST" >
                <input type="search" class="inputsearch" name="usersearch" placeholder="Search" id="search" >
                <i class="fa fa-search fax"></i>
              </form>
            

      
            
              <!-- <center><p style="color: white;" class="submittext">SUBMIT YOUR INFO HERE <a href="/submitpage" style="color: yellow;">Submit</a> </p></center> -->
            
              
        </div>
        
  
       
    </section>
   
   

  
    <footer id="con1">
        <div class="container" >
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright subtitlepopin">Copyright &copy; 2020 MeetAgain</p>
                
               
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

        .searchdiv{
        
          

            
        }

        

        .wishuser{
            margin-top: 200px;

           
        }
        .luck{
            color: wheat;
            font-family: 'Poppins', sans-serif;
        }
        @media (max-height: 600px){
            .prompt{
                margin-bottom: -20px;
                font-size: 23px;
            }
            .luck{
                font-size: 20px;
                margin-bottom: -60px;
            }
            .wishuser{
                margin-bottom: 55px;
            }

        }
        @media (max-height: 570px){
            .wishuser{
                margin-top: 170px;
            }


        }


        
 @media (max-height: 330px){

           .searchdiv{
               margin-bottom: -180px;
              
            
           }

        }


        .fax{
            margin-bottom: 100px;
        }


        

        .prompt{
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 35px;
            
        }

        .submittext{
            font-family: 'Poppins', sans-serif;
        }



        body {
            padding: 0;
            margin: 0;
            height: 100vh;
            width: 100%;
            background: #07051a;
        }
        
        form{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 1s;
            width: 50px;
            height: 50px;
            background: white;
            box-sizing: border-box;
            border-radius: 25px;
            border: 4px solid white;
            padding: 5px;
        }
        
        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;;
            height: 42.5px;
            line-height: 30px;
            outline: 0;
            border: 0;
            display: none;
            font-size: 1em;
            border-radius: 20px;
            padding: 0 20px;
        }
        
        .fax{
            box-sizing: border-box;
            padding: 10px;
            width: 42.5px;
            height: 42.5px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            color: #07051a;
            text-align: center;
            font-size: 1.2em;
            transition: all 1s;
        }
        
        form:hover{
            width: 200px;
            cursor: pointer;
        }
        
        form:hover input{
            display: block;
        }
        
        form:hover .fa{
            background: #07051a;
            color: white;
        }
    </style>
 

                <!-- ***** Contact Form End ***** -->
        
    <!-- ***** Contact Us End ***** -->

  
  
    
 
    <script src="js/jquery-2.1.0.min.js"></script>

    
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

  
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script> 
    
  
    <script src="js/custom.js"></script>

   
 
  </body>
</html>