<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="ExoticFormula" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>MEETAGAIN</title>
    <link href="assets/css/index.css" rel="stylesheet" />
    <link href="assets/css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/navbar') -%>
    <section class="section headercollser" id="about">
      <div class="searchdiv">
        <center class="wishuser">
          <h1 class="prompt">Enter the username you looking for!</h1>
          <br />
          <h2 class="luck">Best of luck!</h2>
        </center>
        <br />
        <br />
        <form action="/search" method="POST">
          <input
            type="search"
            class="inputsearch"
            name="usersearch"
            placeholder="Search"
            id="search"
          />
          <i class="fa fa-search fax"></i>
        </form>
      </div>
      <center>
        <a href="/submitpage" class="subyoinf">Submit Your Info Here</a>
      </center>
    </section>
    <%- include('partials/footer') -%>
    <script
      src="https://kit.fontawesome.com/5d109e308b.js"
      crossorigin="anonymous"
    ></script>
    <script>
      windows.onpopstate = () => {
        history.forward();
      };
      window.onbeforeunload = () => {
        {
          return "Your session will be terminated";
        }
      };
    </script>
  </body>
</html>
