<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,height=device-height, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Template Mo" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />

    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <title>MeetAgain</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="css/templatemo-art-factory.css"
    />
    <link rel="stylesheet" type="text/css" href="css/owl-carousel.css" />

    <link href="css/index.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('partials/navbar') -%>

    <section class="section headercollser" id="about">
      <div class="searchdiv">
        <center class="wishuser">
          <h1 class="prompt">Enter the username you looking for!</h1>
          <br />
          <h2 class="luck">Best of luck!</h2>
        </center>
        <br />
        <br />

        <form action="/searchreq" method="POST">
          <input
            type="search"
            class="inputsearch"
            name="usersearch"
            placeholder="Search"
            id="search"
          />
          <i class="fa fa-search fax"></i>
        </form>
      </div>

      <center>
        <a href="/submitpage" class="subyoinf">Submit Your Info Here</a>
      </center>
    </section>

    <footer id="con1">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <p class="copyright subtitlepopin">
              Copyright &copy; 2020 MeetAgain
            </p>
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

      .wishuser {
        margin-top: 200px;
      }
      .luck {
        color: wheat;
        font-family: "Poppins", sans-serif;
      }
      @media (max-height: 600px) {
        .prompt {
          margin-bottom: -20px;
          font-size: 23px;
        }
        .luck {
          font-size: 20px;
          margin-bottom: -60px;
        }
        .wishuser {
          margin-bottom: 55px;
        }
      }
      @media (max-height: 570px) {
        .wishuser {
          margin-top: 170px;
        }
      }

      .subyoinf {
        color: white;
        font-family: "Poppins", sans-serif;
        text-decoration: line-through;
        cursor: pointer;

        font-size: 15px;
      }

      .subyoinf:hover {
        color: yellow;
      }

      @media (max-height: 330px) {
        .searchdiv {
          margin-bottom: -180px;
        }
      }

      .fax {
        margin-bottom: 100px;
      }

      .prompt {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 35px;
      }

      .submittext {
        font-family: "Poppins", sans-serif;
      }

      body {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        background: #07051a;
      }

      form {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
      }

      .fax {
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: #07051a;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
      }

      form:hover {
        width: 200px;
        cursor: pointer;
      }

      form:hover input {
        display: block;
      }

      form:hover .fa {
        background: #07051a;
        color: white;
      }
    </style>

    <script src="js/jquery-2.1.0.min.js"></script>

    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script>

    <script src="js/custom.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/5d109e308b.js"
      crossorigin="anonymous"
    ></script>

    <script>
      windows.onpopstate = () => {
        history.forward();
      };

      window.onbeforeunload = () => {
        {
          return "Your session will be terminated";
        }
      };
    </script>
  </body>
</html>
