<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <title>MeetAgain</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/templatemo-art-factory.css">
    <link rel="stylesheet" type="text/css" href="css/owl-carousel.css">

    </head>
    
    <body>
    
    
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">MA</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active"class="subtitlepopin" >Home</a></li>
                            <li class="scroll-to-section"><a href="#about"class="subtitlepopin" >About</a></li>
                            <li class="scroll-to-section"><a href="/signup"class="subtitlepopin" >Sign up</a></li>
                            <li class="scroll-to-section"><a href="/login" class="subtitlepopin">Login</a></li>
                           
                            <li class="scroll-to-section"><a href="/contact"class="subtitlepopin" >Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container" >
                <div class="row">
                    <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1 class="subtitlepopin">Lost your online<strong> Friend?</strong></h1>
                        <p class="subtitlepopin">
                            MeetAgain is a platform where you will able to search for your lost connections around the world!</p>
                        <a href="#about" class="main-button-slider">Find Out More</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                        <img src="images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section headercol" id="about" >
        <div class="container" >
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                    <div class="left-heading">
                        <h5 class="subtitlepopin">Aim to reunite people who drifted away due to unfortunate reasons</h5>
                    </div>
                    <div class="left-text">
                        <p class="subtitlepopin"> Losing a online bestie!..Each one of you must have experienced it atleast once.Yeah,we too...That's what motivated us to create this platform. <br><br>
                                            Create a account and submit your username and contact information.Hope your friends find you one day!</p>
                        <a href="/signup" class="main-button">Create account</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about2">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                    <div class="left-heading">
                        <h5 class="subtitlepopin">A database for all the lost souls!</h5>
                        
                    </div>

                    <p></p>
                    <ul>
                        <li>
                            <img src="images/about-icon-01.png" alt="">
                            <div class="text">
                                <h6 class="subtitlepopin">Search by your friend's platform and username</h6>
                                <p class="subtitlepopin"> Our database contains username and contact details submitted by our users</p>
                            </div>
                        </li>
                        <li>
                            <img src="images/about-icon-02.png" alt="">
                            <div class="text">
                                <h6 class="subtitlepopin">Avail your friend's location and contact info</h6>
                                <p class="subtitlepopin">Effectively find your friends by filtering through countries and other filters.</p>
                            </div>
                        </li>
                        <li>
                            <img src="images/about-icon-03.png" alt="">
                            <div class="text">
                                <h6 class="subtitlepopin">24/7 Support</h6>
                                <p class="subtitlepopin">If you have any question or comment, please <a rel="nofollow" href="#">contact</a> us on MeetAgain.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


   

  

   


                <!-- ***** Contact Form End ***** -->
        
    <!-- ***** Contact Us End ***** -->

    <div class="dogerblue">
      <center class="wait">What you waiting for?<br>Register now!</center> 
      
    </div>

    
    <!-- ***** Footer Start ***** -->
    <footer id="con1">
        <div class="container" >
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p class="copyright subtitlepopin">Copyright &copy; 2020 MeetAgain</p>
                
               
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
 
    <script src="js/jquery-2.1.0.min.js"></script>

    
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

  
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script> 
    
  
    <script src="js/custom.js"></script>

  </body>
</html>