<!DOCTYPE html>
<html lang="en">
<head>

     <title>Meetagain</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" type="text/css" href="css/templatemo-art-factory.css">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="css/owl.carousel.min.css">
     <link rel="stylesheet" href="css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/templatemo-digital-trend.css">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <i class="fa fa-line-chart"></i>
              MEET AGAIN
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link smoothScroll">Signup</a>
                    </li>
                    <li class="nav-item">
                        <%   if(req.user){  *>
                           <%= <a href="/dashboard" class="nav-link">Dashboard</a>   %>
                      <%  }else{
                         <%=   <a href="/login" class="nav-link">Login</a>   %>
                   <%   } %>
                       
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Lost your online <br> friend ?</h1>

                                   <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">We can help you</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200" ><i class="fa fa-phone mr-2 leftlil"  ></i>meetagainsite@gmail.com</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="images/bigfren.png" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">A place <strong>with a hope</strong> to reunite !</h2>

                              <p class="mb-0" data-aos="fade-up">
                                MeetAgain is a platform where you will able to search for your lost connections around the world!
                              </p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="images/office.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>

     <section class="section headercol" id="about" >
          <div class="container" >
              <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                      <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                  </div>
                  <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                      <div class="left-heading">
                          <h5 class="subtitlepopin">Aim to reunite people who drifted away due to unfortunate reasons</h5>
                      </div>
                      <div class="left-text">
                          <p class="subtitlepopin"> Losing a online bestie!..Each one of you must have experienced it atleast once.Yeah,we too...That's what motivated us to create this platform. <br><br>
                                              Create a account and submit your username and contact information.Hope your friends find you one day!</p>
                          <a href="/signup" class="main-button">Create account</a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="hr"></div>
                  </div>
              </div>
          </div>
      </section>
      <!-- ***** Features Big Item End ***** -->
  
  
      <!-- ***** Features Big Item Start ***** -->
      <section class="section" id="about2">
          <div class="container">
              <div class="row">
                  <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                      <div class="left-heading">
                          <h5 class="subtitlepopin">A database for all the lost souls!</h5>
                          
                      </div>
  
                      <p></p>
                      <ul>
                          <li>
                              <img src="images/about-icon-01.png" alt="">
                              <div class="text">
                                  <h6 class="subtitlepopin">Search by your friend's platform and username</h6>
                                  <p class="subtitlepopin"> Our database contains username and contact details submitted by our users</p>
                              </div>
                          </li>
                          <li>
                              <img src="images/about-icon-02.png" alt="">
                              <div class="text">
                                  <h6 class="subtitlepopin">Avail your friend's location and contact info</h6>
                                  <p class="subtitlepopin">Effectively find your friends by filtering through countries and other filters.</p>
                              </div>
                          </li>
                          <li>
                              <img src="images/about-icon-03.png" alt="">
                              <div class="text">
                                  <h6 class="subtitlepopin">24/7 Support</h6>
                                  <p class="subtitlepopin">If you have any question or comment, please <a rel="nofollow" href="#">contact</a> us on MeetAgain.</p>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                      <img src="images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                  </div>
              </div>
          </div>
      </section>
      <!-- ***** Features Big Item End ***** -->
  
  
     <style>
         .leftlil{
             margin-right: 160px;
         }
     </style>
  
    
  
     
  
  
                  <!-- ***** Contact Form End ***** -->
          
      <!-- ***** Contact Us End ***** -->
  
      <div class="dogerblue">
        <center class="wait">What you waiting for?<br>Register now!</center> 
        
      </div>
  
      
      <!-- ***** Footer Start ***** -->
      <footer id="con1">
          <div class="container" >
              <div class="row">
                  <div class="col-lg-7 col-md-12 col-sm-12">
                      <p class="copyright subtitlepopin">Copyright &copy; 2020 MeetAgain</p>
                  
                 
                  </div>
                  <div class="col-lg-5 col-md-12 col-sm-12">
                      <ul class="social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="#"><i class="fa fa-rss"></i></a></li>
                          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
      
   




     <!-- SCRIPTS -->
     <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>  <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/owl.carousel.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>



</body>
</html>