<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NOT FOUND</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link rel="stylesheet" href="assets/css/notfound.css" />
  </head>
  <body>
    <%- include('partials/navbar') -%>

    <div class="container">
      <div class="notfound-title">
        <h1 style="font-family: 'Poppins', sans-serif">OOP ! WE ARE SORRY</h1>
        <p class="announcefound" style="font-size: 35px">
          Your friend is not here yet.Hope you meet him one day!
        </p>
      </div>
      <div class="qoute-card">
        <div class="box">
          <img src="assets/images/sadruh.svg" alt="" style="height: 60px" />
          <p>
            <b>
              <i>
                “We all lose friends… we lose them in death, to distance, and
                over time. But even though they may be lost, hope is not. The
                key is to keep them in your heart, and when the time is right,
                you can pick up the friendship right where you left off. Even
                the lost find their way home, when you leave the light on” – Amy
                Marie Waltz
              </i></b
            >
          </p>
        </div>
        <center>
          <a href="/dashboard" class="main-butto">SEARCH AGAIN</a>
          <a href="/" class="main-butto">GO HOME</a>
          <br />
          <br />
        </center>
      </div>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>
