<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up | Log In</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/templatemo-art-factory.css" />
    <link href="css/index.css" rel="stylesheet" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Raleway", sans-serif;
      }
      html,
      body {
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        background: #9896f0;
        font-family: Arial, Helvetica, sans-serif;
      }
      ::selection {
        background: #12e8f0;
        color: #fff;
      }
      .wrapper {
        overflow: hidden;
        max-width: 390px;
        background: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
      }
      .wrapper .title-text {
        display: flex;
        width: 200%;
      }
      .wrapper .title {
        width: 50%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .wrapper .slide-controls {
        position: relative;
        display: flex;
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 30px 0 10px 0;
        justify-content: space-between;
        border: 1px solid lightgrey;
        border-radius: 5px;
      }
      .slide-controls .slide {
        height: 100%;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.6s ease;
      }
      .slide-controls label.signup {
        color: #000;
      }
      .slide-controls .slider-tab {
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        z-index: 0;
        border-radius: 5px;
        background: -webkit-linear-gradient(left, #fbee97, #adedd5);
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      input[type="radio"] {
        display: none;
      }
      #signup:checked ~ .slider-tab {
        left: 50%;
      }
      #signup:checked ~ label.signup {
        color: #fff;
        cursor: default;
        user-select: none;
      }
      #signup:checked ~ label.login {
        color: #000;
      }
      #login:checked ~ label.signup {
        color: #000;
      }
      #login:checked ~ label.login {
        cursor: default;
        user-select: none;
      }
      .wrapper .form-container {
        width: 100%;
        overflow: hidden;
      }
      .form-container .form-inner {
        display: flex;
        width: 200%;
      }
      .form-container .form-inner form {
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .form-inner form .field {
        height: 50px;
        width: 100%;
        margin-top: 20px;
      }
      .form-inner form .field input {
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        border-bottom-width: 2px;
        font-size: 17px;
        transition: all 0.3s ease;
      }
      .form-inner form .field input:focus {
        border-color: #12e8f0;
      }
      .form-inner form .field input::placeholder {
        color: #999;
        transition: all 0.3s ease;
      }
      form .field input:focus::placeholder {
        color: #b3b3b3;
      }
      .form-inner form .pass-link {
        margin-top: 5px;
      }
      .form-inner form .signup-link {
        text-align: center;
        margin-top: 30px;
      }
      .form-inner form .pass-link a,
      .form-inner form .signup-link a {
        color: #0e45dd;
        text-decoration: none;
      }
      .form-inner form .pass-link a:hover,
      .form-inner form .signup-link a:hover {
        text-decoration: underline;
      }
      form .btn {
        height: 50px;
        width: 100%;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
      }
      form .btn .btn-layer {
        height: 100%;
        width: 300%;
        position: absolute;
        left: -100%;
        background: -webkit-linear-gradient(
          right,
          #fbee97,
          #adedd5,
          #fbee97,
          #adedd5
        );
        border-radius: 5px;
        transition: all 0.4s ease;
      }
      form .btn:hover .btn-layer {
        left: 0;
      }
      form .btn input[type="submit"] {
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
        background: none;
        border: none;
        color: #fff;
        padding-left: 0;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <%- include('partials/navbar') -%>

    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Account</div>
        <div class="title signup">Account</div>
      </div>
      <%- include('partials/messages') -%>

      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked />
          <input type="radio" name="slide" id="signup" />
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">SignUp</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form method="POST" action="/login" class="login">
            <div class="field">
              <input
                type="text"
                placeholder="Email Address"
                name="email"
                required
              />
            </div>
            <div class="field">
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>
            <div class="pass-link">
              <a href="#">Reset password?</a>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login" />
            </div>
            <div class="signup-link">
              Don't Have Account? <a href="">Create A New</a>
            </div>
          </form>
          <form method="POST" action="/signup" class="signup">
            <div class="field">
              <input
                type="text"
                name="username"
                placeholder="Username"
                required
              />
            </div>
            <div class="field">
              <input
                type="text"
                name="email"
                placeholder="Email Address"
                required
              />
            </div>
            <div class="field">
              <input
                type="password"
                placeholder="Password"
                name="password"
                required
              />
            </div>
            <div class="field">
              <input
                type="password"
                placeholder="Confirm Password"
                name="password2"
                required
              />
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="SignUp" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = () => {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      };
      loginBtn.onclick = () => {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      };
      signupLink.onclick = () => {
        signupBtn.click();
        return false;
      };
    </script>
    <script src="assets/js/main.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  </body>
</html>
