<!DOCTYPE html>
<html lang="en">
<head>
	<title>SUBMIT</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/submitpage.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <%- include('partials/navbar') -%>
	<div class="container-contact">
		<div class="wrapper-main">
			<div >
				<img height="425" width="398" src="assets/images/Checklist.jpg" alt="">
			</div>
			<div class="wrap-contact">
				<form class="contact-form validate-form" action="/submitpage" method="POST">
					<span class="contact-form-title">
						Submit Your Info
					</span>
					<div class="wrap-input validate-input" data-validate="Please enter your name">
						<input class="input" type="text" name="name" placeholder="First Name">
					</div>
					<div class="wrap-input validate-input" data-validate="Please enter your username">
						<input class="input" type="text" name="platform" placeholder="Platform(Game or social media of your username)">
					</div>
					<div class="wrap-input validate-input" data-validate="Please enter your username">
						<input class="input" type="text" name="username" placeholder="Platform Username">
					</div>
					<div class="wrap-input validate-input" data-validate = "Please enter your email: e@a.x">
						<input class="input" type="text" name="contactemail" placeholder="Contact E-mail">
					</div>
					<div class="wrap-input validate-input" data-validate = "Please enter your disocrd id">
						<input class="input" type="text" name="discord" placeholder="Discord ID(If any)">
					</div>
					<div style="margin-top: 3px;" class="wrap-input validate-input" data-validate = "Please enter your message">
						<textarea class="input" name="message" placeholder="A note for the person you looking for"></textarea>
					</div>
					<div class="container-contact-form-btn">
						<button class="contact-form-btn">
							<span>
								<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
								Submit
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	
	
	</div>
		<%- include('partials/footer') -%>

</style>
</body>
</html>
