@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  color: #212529;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.friends-img {
  height: 550px;
}

.nav-container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.nav-brand {
  font-size: 1.5rem;
}
.landing-section {
  display: flex;
  align-items: center;
}
.landing-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero {
  width: 100%;
  height: 90vh !important;
  padding: 0;
  margin: 0;
}
#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #4e4039;
}
#hero h2 {
  color: #a08f86;
  margin: 15px 0 0 0;
  font-size: 24px;
}
#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 27px;
  color: #fff;
  background: #eb5d1e;
}
#hero .btn-get-started:hover {
  background: #ef7f4d;
}
@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }
  .friends-img {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .landing-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .friends-img {
    height: 320px !important;
    width: 270px;
    margin-top: 30px;
  }
  .landing-content-intro {
    margin-top: 40px;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
@media (max-height: 600px) {
  #hero {
    height: calc(120vh);
  }
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
a {
  color: #eb5d1e;
  text-decoration: none;
}
a:hover {
  color: #ef7f4d;
  text-decoration: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  font-size: 15px;
  line-height: 25px;
  color: #4a4a4a;
}
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}
.section-bg {
  background-color: #fef8f5;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #c2b7b1;
}
.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #4e4039;
}
.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}

@media (max-height: 600px) {
  .wait {
    font-size: 30px;
    color: red;
  }
}
.dogerblue {
  padding: 10px;
  height: 300px;
  background-color: #2496ed;
}
.waitingfor-text {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
}
#signupimg {
  margin-top: 100px;
}
.headercoll {
  background-color: #6356a7;
  height: 100vh;
}
.headercollser {
  background-color: teal;
  height: 100vh;
}
#about {
  padding: 120px 0px;
}
@media (max-width: 765px) {
  #about {
    padding: 20px 0px 120px 0px;
  }
}
#about .right-text {
  align-self: center;
}
#about .right-text p {
  margin-bottom: 40px;
}
#about2 {
  padding: 120px 0px;
}
#about2 .right-image {
  align-self: center;
}
#about h5,
#about2 h5 {
  font-size: 26px;
  font-weight: 700;
  color: #1e1e1e;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}
#about p,
#about2 p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#about2 ul li img {
  display: inline;
  float: left;
}
#about2 ul li .text {
  margin-left: 80px;
}
#about2 ul li .text h6 {
  padding-top: 12px;
  font-size: 21px;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 20px;
}
a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a.main-button-slider:hover {
  background-color: #0088e8;
}
a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #00b4c6;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a.main-button:hover {
  background-color: #0088e8;
}
button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #f55858;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
button.main-button:hover {
  background-color: #0088e8;
}
.section-heading h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: #232323;
  margin-bottom: 20px;
}
.section-heading p {
  font-size: 17px;
  color: #777;
  text-align: center;
}
@media (max-height: 600px) {
  .header-area .main-nav .logo {
    font-size: 0;
  }
  .waitingfor-text {
    font-size: 30px;
    color: red;
  }
}
.waitingfor-text {
  color: white;
  font-size: 37px;
  font-weight: 500;
}
.waitingfor-div {
  background-color: dodgerblue;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
