body {
  background-color: teal !important;
}
.container-contact {
  display: flex;
  height: 95vh;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.checklist-image {
  height: 427px;
  max-width: 439px;

  width: 100%;
}
.wrap-contact {
  background-color: #00acc1;
  padding: 15px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contact-form-title {
  color: white;
  font-size: 1.6rem;
}
.wrapper-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-main div:first-child img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.wrapper-main div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  height: 100% !important;
  width: 100%;
}
.wrap-contact input,
textarea {
  margin-top: 3px;
  padding: 7px;
  max-width: 400px;
  border-radius: 1px;
  border: none;
  outline: none;
  width: 90vw;
}
.wrap-contact button {
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 4px 8px;
  background-color: #fc4747;
}
@media (max-width: 900px) {
  img {
    height: 350px !important;
  }
  .wrapper-main {
    flex-direction: column;
  }
  .container-contact {
    transform: scale(0.95);
  }
}
