body {
  background-color: teal !important;
}
.container-contact {
  display: flex;
  height: 100vh;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.checklist-image {
  height: 499px;
  max-width: 480px;
  width: 100%;
}
.wrap-contact {
  background-color: #00acc1;
  padding: 40px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contact-form-title {
  color: white;
  font-size: 1.8rem;
}
.wrapper-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-main div:first-child img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.wrapper-main div:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
  width: 100%;
}
.wrap-contact input,
textarea {
  margin-top: 3px;
  padding: 12px 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 550px;
}
.wrap-contact button {
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  padding: 6px 8px;
  background-color: #fc4747;
}
@media (max-width: 900px) {
  .checklist-image {
    display: none;
  }
  .wrap-contact input,
  textarea {
    width: 400px;
  }
  .container-contact {
    transform: scale(0.96);
  }
}
